.container {
  width: 60%;
  margin: auto;
  min-height: 65vh;
}

.title {
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 29px;
}

.list {
  margin-bottom: 1em;
}

@media (max-width: 1060px) {
  .container {
    margin-top: 6em;
  }
}
