.container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  margin-bottom: 3em;
}

.title {
  background-color: #f6f7fb;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1em 1.5em;
}

.title p {
  margin: 0;
  font-size: 15px;
  font-family: C-Medium;
}

.body {
  padding: 1em;
}

.row {
  display: flex;
}

.row p {
  margin: 0.5em;
  font-size: 14px;
}

.rowName {
  flex: 4;
}

.rowReceivedScore,
.rowTotalScore,
.rowWeight {
  flex: 3;
}

.empty {
  flex: 4;
  margin-right: 3em;
}

.row button {
  flex: 2;
}

.row .deleteButton {
  margin-right: 2em;
}

.line {
  border: 1px solid #f6f7fa;
}

.top {
  margin-bottom: 2em;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom button {
  width: 140px;
  padding: 0.7em 1.5em;
}

.courseScore {
  padding: 0;
  margin: 0.5em;
  font-size: 14px;
}

.color {
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grey {
  color: #d5d5d5;
}
