.container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
}

.title {
  background-color: #f6f7fb;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1em 1.5em;
}

.title p {
  margin: 0;
  font-size: 15px;
  font-family: C-Medium;
}

.body {
  padding: 1em;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row p {
  margin: 0.5em;
  font-size: 14px;
}

.line {
  border: 1px solid #f6f7fa;
}
