.title {
  color: #5e5e5e;
  font-size: 1.7em;
  text-align: center;
  line-height: 1.5em;
  margin-top: 2em;
  margin-bottom: 5em;
  margin-left: 27%;
  margin-right: 27%;
}

.gradientColor {
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line {
  display: flex;
  margin-bottom: 15em;
}

.image {
  width: 55%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px -3px 29px 0px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.right {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.description {
  margin-top: 3em;
  margin-left: 5em;
  margin-right: 5em;
}

.description .num {
  font-size: 35px;
}

.description .text {
  color: #5e5e5e;
  font-size: 18px;
  line-height: 2em;
}

/* 769px — 1024px: Small screens, laptops */
@media (max-width: 1024px) {
  .title {
    font-size: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
  }

  .line {
    display: block;
    margin-bottom: 8em;
  }

  .image {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 70%;
  }

  .right {
    float: right;
  }

  .description {
    display: flex;
    margin-top: 5em;
  }

  .description .num {
    font-size: 25px;
    margin-right: 30px;
  }

  .description .text {
    color: #5e5e5e;
    font-size: 18px;
    line-height: 1.5em;
  }
}

/* 320px — 480px: Mobile devices */
@media (max-width: 500px) {
  .title {
    font-size: 1.3em;
    margin-left: 15%;
    margin-right: 15%;
  }

  .line {
    display: block;
    margin-bottom: 4em;
  }

  .image {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 80%;
  }

  .right {
    float: right;
  }

  .description {
    display: flex;
    margin-top: 1em;
  }

  .description .num {
    font-size: 25px;
    margin-right: 30px;
  }

  .description .text {
    color: #5e5e5e;
    font-size: 16px;
    line-height: 1.5em;
  }
}
