.button {
  font-size: 16px;
  border-radius: 20px;
  padding: 0.6em 2.4em;
  border: none;
  color: white;
  cursor: pointer;
  font-family: C-Book;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-image: linear-gradient(
    to right,
    #03bd93 0%,
    rgba(3, 155, 163, 1) 100%
  );
  transition: transform 0.2s;
  outline: none;
}
