.blockContainer {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  width: 85%;
  margin: auto;
  margin-bottom: 3em;
}

.titleContainer {
  background-color: #f6f7fb;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1em 2em;
  cursor: pointer;
  display: flex;
}

.title {
  margin: 0;
  /* font-family: C-Medium; */
}

.detailContainer {
  padding: 1em 1.7em;
}

.line {
  border: 1px solid #f6f7fa;
}

/* Hide block */

.hideBlock .titleContainer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.hideBlock .detailContainer {
  display: none;
}

.hideBlock .titleContainer .gpa {
  flex: 1;
  text-align: right;
  margin: 0;
  font-size: 13px;
}

/* Summary */

.summary {
  display: flex;
  width: 100%;
}

.summary p {
  font-size: 14px;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  color: #d5d5d5;
}

.summaryUnits {
  margin-left: 35%;
}

.summaryGrade {
  margin-left: 40%;
}

.bottom {
  margin-top: 3em;
}

.gpa {
  font-size: 14px;
}

.gpaText {
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gpaNumber {
  color: #d5d5d5;
}

.hide {
  display: none !important;
}
