.container {
  flex: 1;
  padding: 0 2.3em;
}

.title {
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  border-bottom: 3px solid rgba(3, 185, 149, 1);
}

.description {
  color: #5e5e5e;
}
