.heading {
  margin-bottom: 3em;
}

.text {
  margin: 0;
  margin-bottom: 0.3em;
  font-size: 18px;
}

.title {
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 29px;
  /* font-family: C-Medium; */
  margin: 0;
}
