.container {
  width: 70%;
  margin: auto;
  min-height: 55vh;
}

.title {
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 29px;
  margin-bottom: 0.5em;
}

.description {
  margin: 0;
}

.topBody {
  display: flex;
}

.topBody div {
  flex: 1;
}
