.container {
  width: 70%;
  margin: auto;
  min-height: 55vh;
}

.title {
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 29px;
  margin-bottom: 0.5em;
}

.description {
  margin: 0;
}

.block {
  margin-top: 5em;
}

.subTitle {
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  margin-bottom: 1em;
}

.body {
  /* display: flex; */
  /* justify-content: space-between; */
}

.body ul {
  margin: 0;
  width: 70%;
  margin-top: -3em;
}

.button {
  text-align: right;
}

.button button {
  width: 150px;
  height: 2.5em;
  margin-bottom: 3em;
}

.divRow {
  display: flex;
  margin-bottom: 2em;
}

.leftConversion {
  margin-right: 5em;
}

.conversion {
  font-size: 14px;
  width: 45%;
}

@media (max-width: 1060px) {
  .container {
    margin-top: 6em;
  }

  .divRow {
    display: block;
  }

  .conversion {
    margin-bottom: 2em;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .button {
    text-align: left;
  }

  .body ul {
    margin-top: 0em;
  }
}
