.whiteBody {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-size: 13px;
  padding: 0.5em;
}

.conversionBody {
  display: flex;
  justify-content: space-between;
}

.conversionColumn {
  display: flex;
  /* flex: 1; */
}

.conversionNumber {
  margin-left: 1em;
  margin-right: 0.6em;
}

.conversionLetter {
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 1em;
}
