.container {
  margin: 1em;
  max-height: 90%;
  overflow-y: auto;
  padding: 1em 2em;
}

.top {
  display: flex;
  justify-content: space-between;
}

.heading {
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5em;
}

.box {
  margin-bottom: 10em;
  display: flex;
}

.box .boxText {
  flex: 1;
  font-size: 18px;
  color: #5e5e5e;
  /* text-align: center; */
}

.box .boxNum {
  font-size: 60px;
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.box div {
  flex: 2;
}

.box .image {
  width: 100%;
  border-radius: 20px;
}
